@import "../public/bower_components/bootstrap/less/bootstrap.less";

@cnt: #766A5B;
@bg: #CCCDA2;
@mixine: #9ACAB0;
@mixinw: #C2F0CF;
@mixinq: #EFFACB;



@borderpt1: #000000;
@borderpt2: #777777;
body{
  background-color: @bg;
  .navbar-default{
    border-color: #544D4D;
  }
  .navbar-default .navbar-form {
    border-color: #544D4D;
  }
  .navbar-default .navbar-nav > .open > a{
    // padding: 0px;
    border-radius: 0px;
  }
  .navbar-default .navbar-collapse{
    border-color: #544D4D;
  }
  .navbar-default .navbar-toggle {
    border-color: #544D4D;
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background-color: lighten(@cnt, 13.5%);
  }
  .navbar-default .navbar-toggle .icon-bar{
      background-color: @mixinq;
  }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: lighten(@cnt, 13.5%);
    color: #555555;
  }
  nav.navbar{
    background-color: @cnt;
    a{
      border-radius: 6px;

      span{ 
        color: @mixinq;
      }
    }
    ul.nav{
      // padding: 10px;
      // height: 40px;
      li{
        .dropdown-menu{
          background-color: @cnt;
        }
        .divider{
          background-color: @cnt;
          margin: 0px;
        }
        a{ 
          background-color: @cnt;
          color: @mixinq;
        }
      }
    }
  }
  .footer{
    // height: 70px;
    background-color: @cnt;
    ul{
      margin: 0px;
      background-color: @cnt;
      li{
        display: inline-block;
        a{
          float: left;
          padding-left: 5px;
          padding-right: 5px;
          color: white;
          font-weight: bolder;
        }
      }
    }
  }
  div.row{
    .thumbnail{
      border: solid @cnt 2px;
      p{
        a{
          background-color: @mixine;
          border: solid @mixine 2px;
          color: black;
        }
      }
    }
  }
}
@media(max-width: @screen-xs-max){
  body{
    .paragraph{
      visibility: hidden;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: @mixinq;
    }
    .boeingSvg{
      background-image: url("/images/boeing_logo.png");
      background-repeat: none;
      background-size: contain;
      height: 30px;
      width: 30px;
      display: inline-block;
      margin-right: 5px;
      margin-bottom: -12px;
    }
    .form-group{
      margin-right: -10px;

    }
    div.row{
      .thumbnail{
        background-color: @cnt;
        // height: 400px;
        img{
          height: 200px;
          width: 200px;
          border: solid black 3px;
        }
        img:nth-child(1){
          background-color: white;
        }
        h3, p, a{
          color: white;
        }
        p a{
          font-weight: bolder;
        }
      }
    }
  }
}
@media(min-width: @screen-sm-min){
  body{
    .navbar-form .form-control {
      display: inline-block;
      width: auto;
      vertical-align: middle;
      margin-right: -15px;
      margin-left: 10px;
    }
    .boeingSvg{
      background-image: url("/images/boeing_logo.png");
      background-repeat: none;
      background-size: contain;
      height: 30px;
      width: 30px;
      display: inline-block;
      margin-right: 5px;
      margin-bottom: -12px;
    }
    .jumbotron{
      margin-bottom: 0px;
      border-radius: 0px;
      p{
        a{
          background-color: @gray-light;
          border: solid white 1px;
        }
      }
    }
    .form-group{
      margin-left: -21px;

    }
    div.row{
      .thumbnail{
        background-color: @cnt;
        height: 400px;
        img{
          height: 200px;
          width: 200px;
          border: solid black 3px;
        }
        img:nth-child(1){
          background-color: white;
        }
        h3, p, a{
          color: white;
        }
        p a{
          font-weight: bolder;
        }
      }
    }
  }
}  /* deprecated: @screen-tablet, or @screen-sm */


@media(min-width: @screen-md-min){  
  body{
    min-width: none;
    a.navbar-brand{
      display: inline-block;
      padding: 0px;
      margin-top: 13px;
    }
    .navbar{
      height: 60px;
    }
    .boeingSvg{
      background-image: url("/images/boeing_logo.png");
      background-repeat: none;
      background-size: contain;
      height: 30px;
      width: 30px;
      display: inline-block;
      margin-right: 5px;
      margin-left: 20px;
      margin-bottom: -12px;
    }
    a span.paragraph{
      display: inline-block;
      line-height: 10px;
    }
    .jumbotron{
      margin-bottom: 0px;
      border-radius: 0px;
      margin-top: 20px;
      p{
        a{
          background-color: @gray-light;
          border: solid white 1px;
        }
      }
    }
    .form-group{
      text-align: right;

    }
    div.main-cnt{
      .bgimg{
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('/images/Cloud.jpg');
        background-size: 100% 80%;
        background-repeat: no-repeat;
        height: 600px;
        width: 100%;
        max-width: 1200px;
        border-radius: 6px;
      }
    }
    div.row{
      margin-top: -100px;
      .paragraghtwo{

      }
      .thumbnail{
        background-color: @cnt;
        height: 460px;
        h3{
          margin-right: 10px;
          margin-left: 10px;
          color: white;
        }
        img{
          height: 200px;
          width: 200px;
          border: solid black 3px;
          margin-top: 20px;
        }
        img:nth-child(1){
          background-color: white;
        }
        .description{
          margin-right: 10px;
          margin-left: 10px;
          font-size: 16px;
          color: white;
        }
        p a{
          margin-left: 10px;
          margin-right: 10px;
          font-weight: bolder;
          // color: white;
        }
      }
    }
  }
}  /* deprecated: @screen-lg-desktop, or @screen-lg */